.button {
  border: 2px solid transparent;
}

.button {
  color: #fff;
  background: #FF3D00;
  border-radius: 35px;
  font-size: 14px;
  padding: 18px 53px;
  font-weight: bold;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s;
}

.button:hover {
  color: #FF5500;
  background: #fff;
  border-color: #FF5500;
}

.button-line {
  background: #fff;
  color: #FF3D00;
  border-color: #FF3D00;
}
.button-line:hover {
  color: #fff;
  background: #FF3D00;
}

