.socials {
  display: flex;
  margin-left: 42px;
}



.socials__item {
 display: inline-flex;
  margin-right: 6px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  width: 36px; height: 36px;
  background: url(../css_sprites.png);
}

.telegram {
  background-position: -66px -10px;
}

.vk {
  background-position: -66px -66px;
}

.f {
  background-position: -10px -10px;
}

.in {
  background-position: -10px -66px;
}
